=========================   密码重置   ========================




请通过以下链接重置您的密码：

= edit_password_reset_url(@user.password_reset_token)




================================================  Central  ===
