==============================================================




#{@user.name}您好，欢迎成为#{Settings.app_name}的一份子。



我们的网址  http://#{Settings.domain}




================================================  Central  ===