%h4 在线用户列表
#online_users
  - active_users.each do |user|
    = render partial: 'profiles/user', object: user
%hr
%h4.all_users_header 所有用户列表
#loading Loading...
#all_users
  .show_link= link_to '加载', '#', id: 'show_all_users'